:root {
  --color: #9A68EB;
}

body {
  background: var(--color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: 6rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}

.text {
  font-family: 'K2D', 'DM Sans', sans-serif;
  color: transparent;
  text-shadow: 0px 20px 20px var(--color), 0 0 0 rgba(0, 0, 0, 0.25), 0px 20px 20px var(--color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-button {
  background: transparent;
  cursor: pointer;
  height: 300px;
  width: 300px;
  border-radius: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 2rem;
  padding: 0;
}

.small {
  font-size: 1rem;
}

.game-button:active {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.support-button {
  text-decoration: none;
  padding: 1rem 1.5rem;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}